#login-form-div {

    width: 30%;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;

}

#login-form-div>form {
    /* aspect-ratio: 1/1; */
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
}

#login-form-div>form>div {
    position: relative;
    display: flex;
    justify-content: center;
}

#login{
    border: 2px solid salmon;
    background: linear-gradient(to left, white 50%, salmon 50%) right;
    background-size: 200%;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

#login:hover {
    background-position: left;
    color: white;
}